{% extends 'web_site/home.html' %}

{% block titulos %}
<title> formulario </title>
{% endblock  %}

{% block cabezera %}
<h1>Formulario</h1>
{% if miFormulario.error %}
<p style = "color: red;"> estan mal los datos, revisar</p>
{% endif %}
<form action="" method="POST">
{% csrf_token %}
<div class="col-sm-4 offset-md-1 py-4">
    
    <table>
        <div class="row input-group-newsletter">        
            <div class="col-auto">{{miFormulario.as_table}}</div>            
        </div>
    </table>
    <div class="col-auto"><button class="btn btn-light btn-xl" id="submitButton" type="submit">Enviar</button></div>
    
</div>
</form>
{% endblock  %}

{% block cuerpo %}   {% endblock  %}